*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

#app {
  height: 100%;
}
